@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #03080a;
}
.container
{
    width: 80%;
    padding: 20px;
}
.container h2
{
    width: 100%;
    color: #45f3ff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.container .row100
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(autofit,minmax(300px,1fr));
}
.container .row100 .col
{
    position: relative ;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px ;
    transition: 0.5s    
}
.container .row100 .inputbox
{
    position: relative;
    width: 100%;
    height: 40px;
    color: #45f3ff;
}
.container .row100 .inputbox input ,
.container .row100 .inputbox.textarea textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.container .row100 .inputbox .text
{
    position: absolute;
    top: 0;
    left : 0;
    line-height: 40px;
    font-size: 18px;
    display: block;
    padding: 0 10px;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .inputbox input:focus + .text,
.container .row100 .inputbox input:valid + .text 
{
    top: -35px;
    left : -10px;
}
.container .row100 .inputbox .line
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container .row100 .inputbox input:focus ~ .line,
.container .row100 .inputbox input:valid ~ .line 
{
    height: 100%;
}
.container .row100 .inputbox.textarea
{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.container .row100 .inputbox.textarea textarea
{
    height: 100%;
    resize: none;
}
.container .row100 .inputbox textarea:focus + .text,
.container .row100 .inputbox textarea:valid + .text 
{
    top: -35px;
    left : -10px;
}
.container .row100 .inputbox textarea:focus ~ .line,
.container .row100 .inputbox textarea:valid ~ .line 
{
    height: 100%;
}

}
.main-container {
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.btn-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height:180px;
}
.ct-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    margin:20px;
}
button {
    font-size: 20px;
    width: 230px;
    height: 80px;
    border-radius: 4px;
    cursor:pointer;
    font-family: lato;
  
}
.gradient-neon {
    background-image: linear-gradient(45deg, rgb(21, 69, 228) , #1195c9, #45f3ff);
    border: none;
    color: #45f3ff;
}
 
.gr-solid {
    position: relative;
}
 
    .gr-solid:hover .gradient-neon{
        background-image: linear-gradient(45deg, #45f3ff , #3b84e4, #1055e9);
    }
 
    .gr-shadow1, .gr-shadow1::before, .gr-shadow1::after {
        content:'';
        position: absolute;
        top: 0px;
        border-radius: 4px;
        width: 139px;
        height: 79px;
        z-index: -1;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;
        opacity:0;
    }
 
    .gr-solid:hover .gr-shadow1, .gr-shadow1::before, .gr-shadow1::after {
        opacity:1;
    }
 /* middle */
    .gr-shadow1 {
        -webkit-box-shadow: 0px 0px 30px 20px #21cceb;   
                box-shadow: 0px 0px 30px 20px #15ebe0;
        left:45px;
    }
 /* right */
    .gr-shadow1::before {        
        right: 0;
        bottom: 0;
        left: -45px;
        -webkit-box-shadow: 0px 0px 30px 20px #1599f1;
                box-shadow: 0px 0px 30px 20px #0674a7b0;
    }
 
    .gr-shadow1::after {        
        bottom: 0;
        left: 45px;
        -webkit-box-shadow: 0px 0px 30px 20px #4454ec;
                box-shadow: 0px 0px 30px 20px #6e61e6;
    }